<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fikky - Stories</title>
    <thymeleaf th:replace="fragments/head :: head" />
</head>
<body>
<div th:replace="fragments/nav :: fikky-navbar"></div>
<div class="container">
    <div class="row">
        <div class="row">
            <h2 th:text="${story.name}"> </h2>
            <h3>Chapters</h3>
        </div>
        <div th:if="${not #lists.isEmpty(chapters)}">
            <table class="table table-striped">
                <tr th:each="chapter : ${story.getChapters()}">
                    <td th:text="${chapter.number}"></td>
                    <td th:text="${chapter.name}"></td>
                    <td><a th:href="${'/chapter/show/' + chapter.id}">View</a></td>
                </tr>
            </table>
        </div>
        <div>
            <a th:href="${'/chapter/new/' + story.id}">Add Chapter</a>
        </div>
        <div>
            <a th:href="${'/story/show/' + story.id}">Back to Story</a>
        </div>
    </div>
</div>

</body>
</html>