<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fikky - Stories</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</head>
<body>
<div th:replace="fragments/nav :: fikky-navbar"></div>
<div class="container">
    <div class="row">
        <h2 th:text="${chapter.name}"> </h2>
    </div>
    <div class="row">
        <p th:utext="${chapter.contents}"> </p>
    </div>

    <div class="row">
        <a th:href="${'/chapter/list/' + story.id}">Back to Chapters</a>
    </div>
</div>

</body>
</html>