<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fikky - Stories</title>
    <thymeleaf th:replace="fragments/head :: head" />
</head>
<body>
<div th:replace="fragments/nav :: fikky-navbar"></div>
<div class="container">
    <div class="row">
        <h2 th:text="${chapter.name}"> </h2>
    </div>
    <div class="row">
        <p th:utext="${chapter.contents}"> </p>
    </div>

    <div class="row">
        <a th:href="${'/chapter/list/' + story.id}">Back to Chapters</a>
    </div>
</div>

</body>
</html>