<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fikky - Stories</title>
    <thymeleaf th:replace="fragments/head :: head" />
</head>
<body>
<div th:replace="fragments/nav :: fikky-navbar"></div>
<div class="container">
    <div th:if="${not #lists.isEmpty(stories)}">
        <h2>Stories</h2>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Link</th>
                <th>Action</th>
            </tr>
            <tr th:each="story : ${stories}">
                <td th:text="${story.name}"></td>

                <td>
                    <a th:href="${'/story/show/' + story.id}">View</a>
                </td>
                <td><a th:href="${'/story/edit/' + story.id}">Update</a> |
                    <a th:href="${'/story/delete/' + story.id}">Remove</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="form-group ">
        <a  class="btn btn-info btn-lg btn-block login-button" th:href="@{/story/new}">Add a Story</a>
    </div>

</div>

</body>
</html>