<thymeleaf xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
           th:fragment="head" th:remove="tag">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>

    <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" type="text/css"/>

    <link th:href="@{/assets/custom.css}" rel="stylesheet" type="text/css" />

</thymeleaf>