<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fikky - Stories</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>

    <link rel="import" href="../fragments/nav.html" />
</head>
<body>
    <nav class="navbar navbar-default" th:fragment="fikky-navbar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Fikky</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a th:href="${'/story/list/'}">Stories</a></li>
                    <li><a th:href="${'/story/list/'}">Settings</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form id="logout" class="navbar-form navbar-right" th:action="@{/logout}" method="post">
                            <button type="submit" class="btn-link">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>